<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-paypalbraintree" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>PaypalBraintree</name><js-module name="PaypalBraintree" src="www/PaypalBraintree.js"><clobbers target="cordova.plugins.PaypalBraintree" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="PaypalBraintree"><param name="ios-package" value="PaypalBraintree" /></feature></config-file><source-file src="src/ios/PaypalBraintree.m" /></platform></plugin>